@media screen and (max-width:991px) {

    h3 {
        font-size: 1.2rem;
    }

    .nav-toggle {
        display: block;
        margin-right: 20px;
    }



    .main-nav {
        overflow: initial;
    }

    .nav-links {
        position: absolute;
        background-color: white;
        left: -100%;
        top: 100%;
        width: 100%;
        padding-block: 20px;
        text-align: center;
        transition: 0.2s ease-in-out;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links ul {
        flex-direction: column;
        margin-left: 23px;
    }

    .examples-area {
        gap: 20px;
    }

    .examples-card {
        width: calc(50% - 10px);
        height: 180px;
    }

    .examples-heading-text {
        margin-left: -161px;

    }

    .cta-section {
        padding-block: 80px;
        margin-left: -159px;
        text-align: center;
    }

    .cta-section-container a {
        margin: 68px -6px;
        position: absolute;
    }


    .header-section {
        justify-content: center;
        gap: 10px;
        margin-left: 41px;
    }

    .header-left {
        max-width: 40vw;
        margin: 23px 48px;
    }

    .header-left h1 {
        margin-top: 59px;
        display: block;
        font-size: 1.8rem;
    }


    .features-card .feature001 {
        margin-left: -508px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
    }

    .features-card .feature002 {
        margin-left: -500px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
    }

    .features-card .feature2 {
        margin-left: -291px;
    }

    .features-card .feature02 {
        margin-left: -514px;
    }

    .features-card .custom-class2 {
        margin-left: -335px;
        margin-top: 249px;
        position: absolute;
    }

    .features-card .feature003 {
        margin-left: -508px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
    }

    .features-card .feature004 {
        margin-left: -419px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
    }

    .features-card .feature005 {
        margin-left: -508px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
    }


    .features-card .feature006 {
        margin-left: -395px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
    }

    .features-card {
        flex-direction: column;
        gap: 20px;
        max-width: 35px;
        text-align: center;
        margin-left: 297px;
    }

    .features-card .feature3 {
        width: 48px;
        height: 54px;
        margin-left: -286px;
        margin-top: 91px;
    }

    .features-card .feature03 {
        margin-left: -519px;
        margin-top: 23px;
    }

    .features-card .custom-class3 {
        margin-left: -339px;
        margin-top: 317px;
        position: absolute;
    }

    .features-card .feature4 {
        width: 56px;
        height: 61px;
        margin-left: -233px;
        margin-top: 84px;
    }


    .features-card .feature04 {
        margin-left: -397px;
        margin-top: 23px;

    }

    .features-card .custom-class4 {
        margin-left: -283px;
        margin-top: 314px;
        position: absolute;
    }


    .features-card .feature5 {
        width: 84px;
        height: 68px;
        margin-left: -295px;
        margin-top: 84px;
    }

    .features-card .feature05 {
        margin-left: -516px;
        margin-top: 23px;
    }

    .features-card .custom-class5 {
        margin-left: -331px;
        margin-top: 314px;
        position: absolute;
    }

    .feature-desc {
        margin: 390px 14px;
    }

    .feature-img img {
        width: 115%;
        margin-top: 212px;
        margin-left: -36px;
    }

    .footer-container {
        margin: 21px 95px;
    }

    .button {

        width: 43%;
        margin-left: 112px;
        white-space: nowrap;

    }


}

@media screen and (max-width: 767px) {
    .header-section {
        flex-direction: column-reverse;
    }

    .header-left {
        max-width: 100vw;
        text-align: center;
    }

    .primary-button {
        width: 100%;
    }

    .features-card {
        margin-left: 439px;
    }

    .features-card .feature4 {
        margin-left: -299px;
    }

    .features-card .feature04 {
        margin-left: -539px;
    }

    .features-card .feature004 {
        margin-left: -525px;
    }

    .features-card .custom-class4 {
        margin-left: -345px;
    }


    .features-card .feature5 {
        margin-left: -318px;
    }

    .features-card .feature05 {
        margin-left: -549px;
    }

    .features-card .feature005 {
        margin-left: -551px;
    }


    .features-card .custom-class5 {
        margin-left: -353px;
    }


    .features-card .feature6 {
        margin-left: -307px;
    }

    .features-card .feature06 {
        margin-left: -541px;
    }


    .features-card .feature006 {
        margin-left: -522px;
    }

    .features-card .custom-class6 {
        margin-left: -351px;

    }

    .big-feature-container,
    #second-big-feature {
        flex-direction: column;
    }

    .feature-img img {
        width: 79%;
        margin-top: 212px;
        margin-left: 14px;
    }

    .feature-desc {
        margin: 21px 14px;
    }

    .features-header a {
        margin-top: 29px;
        margin-left: 46px;
    }



    .examples-heading-text {
        margin-left: -146px;
    }


    .button {
        width: 59%;
        margin-left: 50px;
    }


    .cta-section-container h2 {
        margin: -50px -183px;
    }


    .cta-section-container p {
        margin-left: -212px;
    }

    .cta-section-container a {
        margin: 68px -351px;
        position: absolute;
        width: 81%;
    }

    .footer-container {
        flex-direction: column;
        gap: 40px;
        text-align: center;
        align-items: center;
    }

    .link-column {
        align-items: stretch;
    }

    .footer-container img {
        margin-left: -127px;
        margin-top: -7px;
    }

}

@media screen and (max-width: 479px) {

    :root {
        --paddind-inline-section: 10px;
    }


    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }


    .features-area {
        margin-left: 44px;
    }

    .features-header a {
        margin-top: 29px;
        margin-left: 2px;
    }

    .feature-img img {
        margin-left: 0px;
    }

    .feature-desc {
        margin: 21px -10px;
    }

    .examples-heading-text {
        margin-left: -62px;
    }

    .button {
        width: 89%;
        margin-left: -3px;
    }

    .examples-card {
        width: 100%;
    }

    .cta-section-container h2 {
        margin: -50px -294px;
    }

    .cta-section-container p {
        margin-left: -351px;
    }

    .cta-section-container a {
        margin: 68px -390px;
    }


    .footer-container {
        flex-direction: column;
        gap: 40px;
        text-align: center;
        align-items: center;
        margin-left: 45px;
    }

}